@use "../theme.scss" with (
  //#e0e0e0
  $shadow-color-75: #000000,
  $glow-color: #ffffff28,
  $danger-color: #851b24
);
@use "icons-fa.scss" with (
  $icon-color: "%23aaaaaa",
  $icon-offline: "%23851b24"
);
@use "../layout.scss";
