$top-settings-width: 4rem !default;
$top-settings-padding: 0.625rem !default;
$mobile-threshold: 1000px !default;
$panel-width: calc(100vw - var(--sheldWidth)) !default;

$sheld-left-offset: calc($top-settings-width);
$sheld-width: calc(
  100vw -
    $top-settings-width - var(--preset-panel-width) - var(--chara-panel-width)
);

@media screen and (min-width: $mobile-threshold) {
  :root {
    --preset-panel-width: 0px;
    --chara-panel-width: 0px;
  }

  body {
    display: flex;
  }

  body:has(#left-nav-panel.openDrawer) {
    --preset-panel-width: #{$panel-width} !important;
  }

  body:has(#right-nav-panel.openDrawer) {
    --chara-panel-width: #{$panel-width} !important;
  }

  body:not(.waifuMode) {
    #top-bar {
      border-bottom: unset;
      margin: unset;
      width: unset;
      height: unset;
      position: unset;
    }

    #sheld {
      left: $sheld-left-offset;
      justify-content: left;
      margin: unset;
      min-height: 100vh;
      min-height: 100dvh;
      max-height: unset;
      top: 0;
      width: $sheld-width;
    }
    #top-settings-holder {
      margin: unset;
      position: unset;
      height: 100vh;
      height: 100dvh;
      flex-direction: column;
      justify-content: flex-start;
      max-width: $top-settings-width;
      gap: $top-settings-padding;
      padding: $top-settings-padding;
    }

    .drawer-content {
      top: 0;
      left: $sheld-left-offset;
      width: $sheld-width;
      right: unset;
      &:not(#left-nav-panel, #right-nav-panel) {
        max-height: calc(100vh - var(--bottomFormBlockSize));
      }
    }

    #chat {
      max-height: calc(100vh - var(--bottomFormBlockSize));
    }

    div .expression-holder:has(#expression-image:not([src=""])),
    .zoomed_avatar {
      z-index: 114;
      // bottom: var(--formSheldHeight);
      // left: $top-settings-width;
      right: calc(
        var(--chara-panel-width) + var(--preset-panel-width) + 40px + 0.5rem
      ); //加40px和0.5rem防止挡住swipeRight
      left: unset;
      bottom: var(--bottomFormBlockSize);
      // pointer-events: none;
      // &:hover {
      //   opacity: 0.5;
      // }
    }

    #left-nav-panel {
      right: 0;
    }

    #right-nav-panel {
      right: var(--preset-panel-width);
    }

    #left-nav-panel,
    #right-nav-panel {
      left: unset;
      width: $panel-width;
      max-height: 100vh;
    }
  }
}
